@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,500;1,900&display=swap');

body {
    background-color: tomato;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.navbar-brand h1 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
}

#header-nav {
    background-color: slategray;
    border-radius: 0%;
    border: 0;
}

h2,
h3 {
    text-align: center;
}

.row {
    clear: both;
}

section {
    padding: 10px;
    position: relative;
    text-align: justify;
    background-color: aliceblue;
    margin: 0 auto 15px;
    border: 2px solid #3F0C1F;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}